<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GuideSpace</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/header.js"></script>
</head>
<body>
<div>
    <img class="logo" src="images/logo.svg" alt="">
</div>
<div id="myHeader">
    <!--Navbar-->
    <nav class="navbar navbar bg-faded">
        <a class="navbar-brand" href="/">GuideSpace</a>
        <ul class="nav2 navbar-nav">
            <li class="nav-item">
                <a hidden id="loginNavbar" class="nav-link" href="#">Log in</a>
            </li>
            <li class="nav-item">
                <a hidden id="logoutNavbar" class="nav-link" href="#">Log out</a>
            </li>
            <li class="nav-item">
                <a hidden id="questionNavbar" class="nav-link" href="#">Add Question</a>
            </li>
            <li class="nav-item">
                <a hidden id="examNavbar" class="nav-link" href="/exam">Exam</a>
                <!--Miks siin on /exam???-->
            </li>
            <li class="nav-item">
                <a hidden id="examregNavbar" class="nav-link" href="/examreg">Manage Exams</a>
            </li>
            <li>
                <a hidden id ="adminNavbar" class="nav-link" href="#">Admin panel</a>
            </li>
            <li class=nav-item">
                <a href="/kkk" class="nav-link">FAQ</a>
            </li>
            <li class="nav-item">
                <a href="/kontakt" class="nav-link">Kontakt</a>
            </li>
        </ul>
    </nav>
</div>
<div id="login"></div>
</body>
</html>