<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="/js/header.js"></script>
</head>
<body>
<div>
    <img class="logo" src="images/logo.svg" alt="">
</div>
<div id="myHeader">
    <!--Navbar-->
    <nav class="navbar navbar bg-faded">
        <a class="navbar-brand" href="/">GuideSpace</a>
        <ul class="nav2 navbar-nav">
            <li class="nav-item">
                <a hidden id="loginNavbar" class="nav-link" href="#">Log in</a>
            </li>
            <li class="nav-item">
                <a hidden id="logoutNavbar" class="nav-link" href="#">Log out</a>
            </li>
            <li class="nav-item">
                <a hidden id="questionNavbar" class="nav-link" href="#">Add Question</a>
            </li>
            <li class=nav-item">
                <a href="/kkk" class="nav-link">KKK</a>
            </li>
            <li class="nav-item">
                <a href="/kontakt" class="nav-link">Kontakt</a>
            </li>
        </ul>
    </nav>
</div>

<!--Login-->
<div id="login"></div>
</body>
</html>