@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.logo{
    max-width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.navbar {
    background: #090a0a;
    margin: 0;
    border-radius: 0;
    color:#fbfbfb;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'FontAwesome';
}

.navbar-brand{
    margin-left: 10%;
    margin-right: auto;
}
.navbar a{
    color:#ffffff;
}

.navbar ul li a:hover{
    background: #20d317;
    color: #fbfbfb;
}

.navbar ul li a:focus{
    background: #20d317;
    color: #fbfbfb;
}

#loginNavbar{
    display:none;
}

#logoutNavbar{
    display:none;
}

#questionNavbar{
    display:none;
}

.alertMessage{
    color: red;
}
/* See headeri muudetud osa menüü jaoks */
.nav2 {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  float:right;
  margin-right: 20%;
  margin-left: auto;
}
.nav2 > li {
  position: relative;
  display: block;
}
.nav2 > li > a {
  position: relative;
  display: block;
  padding: 15px 15px;
}
.nav2 > li > a:hover,
.nav2 > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.nav2 > li.disabled > a {
  color: #777;
}
.nav2 > li.disabled > a:hover,
.nav2 > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav2 .open > a,
.nav2 .open > a:hover,
.nav2 .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.nav2 .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav2 > li > a > img {
  max-width: none;
}
/* See headeri muudetud osa menüü jaoks */
form.teine{
  background: #090a0a;
  position: relative;
  width: 500px;
  height: 50%;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  color: #fbfbfb;
  padding: 10px;
  margin-left:20%;
  border: 1px solid #3d4242;
}
form.teine input[type=text]{
  width: 320px;
  height: 25px;
  color: #090a0a;
  font-family: 'FontAwesome';
}
.add_field_button{
    color: #090a0a;
    font-family:FontAwesome;
}
.remove_field{
    color: #fbfbfb;
    font-family:FontAwesome;
}
p{
    font-family:FontAwesome;
}
.kkk{
    margin-left:20%;
}
.kontakt{
    margin-left:20%;
}
#userSelection{
   overflow:hidden;
   overflow-y:scroll:
}
.leftpanel{
    background: #090a0a;
    margin: auto;
    position: relative;
    width: 30%;
    height: 250px;
    font-size: 14px;
    font-family: 'FontAwesome';
    line-height: 24px;
    font-weight: bold;
    color: #fbfbfb;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #3d4242;
    border: inset 1px solid #3d4242;
    margin-left:20%;
    margin-right:auto;
    float:left;
}

select[name=selection]{
    color:black;
}

.rightpanel{
    background: #090a0a;
    margin: auto;
    position: relative;
    width: 40%;
    font-family: 'FontAwesome';
    line-height: 24px;
    font-weight: bold;
    color: #fbfbfb;
    padding: 10px;
    border: 1px solid #3d4242;
    border: inset 1px solid #3d4242;
    float:left;
}

ul {
    list-style-type:none;
}
li span {
    display:inline-block;
    width:40%;
}

option{
    color:black;
}
