.navbar {
    background: #2C3E50;
    opacity: 0.9;
    margin: 0;
    border-radius: 0;
    color:#fbfbfb;
}

.navbar a{
    color:#fbfbfb;
}

.navbar ul li a:hover{
    background: #16A085;
    color: #ddd;
}

.navbar ul li a:focus{
    background: #1abc9c;
    color: #ddd;
}

#loginNavbar{
    display:none;
}

#logoutNavbar{
    display:none;
}

.alertMessage{
    color: red;
}